net_utm.qmd
tests_buffer.gpkg
tests_line.gpkg
tests_utm.qmd
tests_utm2.qmd
tests_utm.qmd
tests_line.gpkg-shm
tests_line.gpkg-wal
tests_flip.gpkg
tests_offset.gpkg
tests_flipped.gpkg
tests_cut.gpkg
tests_cut_buf.gpkg
net_offset.gpkg
net_utm2.qmd
restore_test.geojson
restore_test.qmd
rebuild_stage.py
tests.ipynb
tests_utm3.qmd
tests_offset_recover.gpkg
tests_offset_net.gpkg
TSP.py
flip_ids.gpkg
flip_ids.py
test.py
tests_offset_flipped.gpkg
tests_offset_restored.gpkg
tests_offset_processed.gpkg
coursework/coursework_2.qgz
coursework/explode_and_cut.ai
coursework/explode_and_cut.png
coursework/final
coursework/k26_vis_Монтажная область 1.png
coursework/k26_vis.ai
coursework/recover_lines.ai
coursework/recover_lines.png
coursework/Восстановление геометрии.drawio
coursework/Восстановление геометрии.jpg
coursework/Масштабы.xlsx
coursework/Определения.png
coursework/Параллельный сдвиг.drawio
coursework/Параллельный сдвиг.jpg
coursework/Поиск параллельных линий.drawio
coursework/Поиск параллельных линий.jpg
coursework/coursework.qgz
